* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  background-color: #0a192f;
  color: #c7cbd1;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13em;
}

#main {
  order: 2;
  padding: 10px;
  height: auto;
  width: auto;
}

#url {
  order: 1;
  padding: 10px;
  height: auto;
  width: auto;
}

#pic {
  order: 3;
  padding: 3px;
  height: auto;
  width: auto;
}

a {
  color: #c7cbd1;
}

#logo {
  width: 5em;
  height: 5em;

  border: 1px solid darkblue;
  border-radius: 10px;
}

body {
  background-color: #dde3eb;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

#boxes {
  width: 2em;
  height: 2em;
}

#box {
  font-size: 3em;
  text-align: center;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 1em;
}

.input {
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  border: 2px solid #112240;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background: #0a192f;
  color: #fff;
  box-sizing: border-box;
}

button {
  width: 9em;
  height: 4em;
  background-color: #0a192f;
  box-shadow: #0a192f;
  color: white;
  border: 0.5em solid black;
  border-radius: 10px;
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.qr-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.qr {
  width: 200px;
  height: 200px;
  background: #112240;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #0a192f;
  color: #c7cbd1;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
}

input[type="text"] {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

img {
  border: 0.5em solid darkcyan;
  border-radius: 0.2em;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
    height: auto;
  }

  #url {
    order: 1;
  }

  #main {
    order: 2;
    width: 100%;
    text-align: center;
  }

  #pic {
    order: 3;
  }

  #logo {
    width: 4em;
    height: 4em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.7em;
  }

  .titale {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  #url,
  #pic,
  #main {
    order: unset;
  }

  ul {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .input {
    max-width: 100%;
    font-size: 0.9rem;
    padding: 10px 12px;
  }

  .qr {
    width: 150px;
    height: 150px;
    padding: 10px;
  }
}
